body {
    background-image: url(https://18854.cdn.simplo7.net/static/18854/sku/quadros-animes-demon-slayer-Quadro-Kimetsu-no-Yaiba-Inozuke-Copia-1-copia-1-1622127384529.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;

  }
  